<!DOCTYPE html>
<html>
  <head>
    <title>RitoWhy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>



    <div class="container"><!--don't know if i even need this? -->
          <div id="login_container">
          </div>
        </div>





    <% if user_signed_in? %>
   <div class="container" >
     <div class="pull-right">
       <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
     </div>
   </div>
   <% end %>


<br>
   <div class="button">
     <%= button_to "Champs", welcome_champions_path, :method => "get" %>
   </div>

<br>

   <div class="button">
       <%= button_to "Favorites", welcome_favorites_path, :method => "get" %>
   </div>

<br>

   <div class="button">
       <%= button_to "Welcome", root_path, :method => "get" %>
  </div>




    <%= yield %>
  </body>
</html>
